@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Outline|Bungee+Shade&display=swap');
@font-face {
font-family: 'JetMono';
src: url('fonts/JetBrainsMono-Bold.woff');
}
/*
font-family: 'Bungee', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Outline', cursive;
*/

body{
  background: #D6D6D6 url('img/mancha.svg') no-repeat center 28em;
  display: grid;
  border: 42px solid white;
  padding: 0;
  margin: auto;
  align-content: center;
  text-align: center;
  height: 130vh;
}


