*,
*::before,
*::after { 
  box-sizing:border-box;
}
body{
  background-color: #ddd;
  margin: auto;
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body>ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.48fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  grid-gap: 1px;
  margin: auto;
  padding: 0;
}
body>ul>li{
  background-color: white;
  padding: 0;
}
.mm01{
  grid-row: 2;
  grid-column: 4;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 1em;
}
.mm01 h1{
  
  font-weight: 900;
}
.mm01 span{
    color: red;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: small;
    line-height: 1.6em;
}
.mm01 img{
  max-width: 80px;
  box-shadow: 0px 14px 24px rgba(0,0,0,0.35);
  margin: 4em auto 0.5em;
}
footer{
  margin: auto;
  background-color: #ddd;
  bottom: 3em;
  left: 3em;
}



@media(prefers-color-scheme:dark) {
  body{
    background-color: #000000;
    color: #ccc;
  }
  .mm01>span{
    
  }
  body>ul>li{
    background-color: #161614;
  }
  footer{
      background-color: #000;
  }
}