*,
*::before,
*::after {
  box-sizing:border-box;
}

body{
  margin: auto;
  padding: 0;
  background-color: #FFFFFF;
 
}

nav
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  '
  . . .
  . mm01 .
  . . .
  '
}

.mm01
{
  grid-area: mm01;
  outline: 1px solid green;
  margin: auto;
}

/* Dark Mode */
@media(prefers-color-scheme:dark) {
  body{
    color: #ccc;
    background-color: #111;
  }
}
*/